---
import Logo from '../SVG/Logo/Logo.astro'
---

<nav class="navigation">
	<a class="logo-tag" href="#start">
		<Logo />
	</a>
	<div class="links-container">
		<a href="#start"> Home </a>
		<a href="#projects"> Projects </a>
		<a href="#aboutMe"> About Me </a>
	</div>
	<button id="themeToggle">L</button>
</nav>

<script>
	const themeButton = document.getElementById('themeToggle')
	const handleThemeClick = () => {
		document.documentElement.classList.toggle('light')

		if (themeButton?.innerText === 'L') {
			themeButton.innerHTML = 'D'
		} else if (themeButton) {
			themeButton.innerHTML = 'L'
		}
	}
	themeButton?.addEventListener('click', handleThemeClick)
</script>

<style>
	.navigation {
		z-index: 20;
		width: 100%;
		position: fixed;
		backdrop-filter: blur(10px);
		background: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 5px 5px -5px var(--fountain-blue-500);
		box-shadow: 0px 5px 5px -3px var(--fountain-blue-300);

		&::before {
			content: '';
			background: linear-gradient(
				90deg,
				transparent,
				rgba(255, 255, 255, 0.25) 25%,
				transparent,
				rgba(255, 255, 255, 0.25) 75%,
				transparent
			);
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -10;
			animation-name: fadeTransparent;
			animation-direction: normal;
			animation-fill-mode: both;
			animation-timeline: scroll();
			animation-range: 0px 500px;
		}

		& .logo-tag {
			display: flex;
			align-items: center;
			margin-left: 16px;
			width: fit-content;
			padding-block: 6px;
			height: 36px;
		}

		& #themeToggle {
			margin-right: 16px;
		}
	}

	.links-container {
		width: 70%;
		display: flex;
		justify-content: space-evenly;
		padding-block: 10px;
		height: 100%;
	}

	a {
		text-decoration: none;
		color: white;
		font-size: clamp(12px, 32px, 1.2vw);
		transition: color 500ms;
	}

	@keyframes fadeTransparent {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	html.light .links-container {
		& a {
			color: var(--dark-background);
			transition: color 500ms;
		}
	}
</style>
